body {
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 20px;
    color: #000000;
    line-height: 1.6;
    text-align: justify;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}
@font-face {
    font-family: 'Oswald';
    src:url('./fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3 {
    text-align: center;
    color: #2d2f30;
    margin-bottom: 20px;
    text-transform: uppercase;
}
/*посилання*/
a {
    color: #2d2f30;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}
/*якщо навести*/
a:hover {
    color: rgb(89, 129, 70) !important; 
}
/*стиль для пос навігації*/
nav a {
    color: rgb(130, 128, 255);
    text-decoration: none;
}


p a {
    color: rgb(89, 129, 70) !important;
    text-decoration: underline;
}

p {
    margin-bottom: 15px;
}

.special-paragraph {
    color: rgb(130, 128, 255);
    font-size: 20px;
    background-color: #fff3cd;
    padding: 15px;
    border-left: 5px solid darkblue;
    margin-top: 20px;
}

.alert-text {
    color: rgb(165, 10, 10);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

iframe {
    display: block;
    margin: 0% auto; 
    border: 2px solid black;
}

ul {
    list-style-type: square;
    color: rgb(130, 128, 255);
    padding-left: 20px;
}

ol {
    list-style-type: upper-roman;
    color: rgb(130, 128, 255);
    padding-left: 30px;
}

dl dt {
    font-weight: bold;
    color: #170080;
}

dl dd {
    margin-left: 30px;
    color: rgb(130, 128, 255);
}

table {
    width: 42%;
    margin: 5px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #f0f0f0;
    text-align: center;
    font-size: 16px;
}

table th, table td {
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #808080;
    color: #ffffff;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

table tr:hover {
    background-color: #ffffff;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
    font-size: 18px;
}

